img {
    width: 100%;
    height: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
}

video {
    width: 100%;
    height: 250px;
    margin-top: 100px;
    margin-bottom: 10px;
}

#myInput {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 18px; /* Add some padding */
    border: 1px solid #006663; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    margin-top: 0px;
}

#myUL {
    /* Remove default list styling */
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    padding: 0;
    margin: auto;
    margin-top: -3%;
}

#myUL li a {
    border: 1px solid lightgray; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #baead6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

.description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
    text-align: left;
    background-color: gainsboro;
    padding: 20px;
}

.span {
    text-align: center;
    font-size: 30px;
    font-weight: 500;