body{
    margin: auto;
    background-color: #7fc6b2;
}

.title {
    font-size: 70px;
    color: #006663;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-top: 110px;
    font-weight: 750;
}

.title1 {
    font-size: 70px;
    color: #baead6;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-top: -100px;
    font-weight: 750;
}

.sbutton {
    font-weight: 100;
    text-decoration: none;
    margin-left: 145px;
    margin-right: 145px;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: #006663;
    color: #baead6;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-top: 100px;
    box-shadow: 0 4px #999;
}

footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 13px;
    margin-top: 100px;
}