body {
    margin: auto;
    background-color: #006663;
}

ul {
    border-radius: 10px;
    height: 50px;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    margin: 3px;
    padding: 0px;
    background-color: #7fc6b2; 
}

li {
    display: inline;
}

.rightnav1 {
    float: right;
    padding-right: 15px;
    color: #006663;
}

.leftnav {
    margin: 6px;
    font-size: 25px;
    float: left;
    padding-left: 2px;
    color: #006663;
}

/* dropdown button */

.dropbtn {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 3px;
    background-color: #baead6;
    color: #006663;
    padding: 16px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    
    background-color: gainsboro;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {  
    border: gray solid .2px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

#tool {
    color: #baead6;
}