.img {
    float: left;
    center: 0;
    margin: 5px;
    padding: 0px;
    width: auto;
    height: 350px;
    border: 1px solid black;
    background-color: lightgray;
} 

.img img {
    width: 100%;
    height: 240px;
}

.img img:hover {
    opacity: .5;
}
.desc {
    center: 0;
    font-weight: bolder;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    text-align: center;
}

.pagetitle {
    font-size: 20px;
    color: white;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 8px;
    text-shadow: 0 2px #999;
}

#leftbutton {
    color: white;
    font-size: 15px;
    font-weight: 300;
    border-radius: 8px;
    background-color: gray;
    padding: 8px;
    margin-left: 30px;
    float: left;
}

#rightbutton {
    color: white;
    font-size: 15px;
    font-weight: 300;
    border-radius: 8px;
    background-color: gray;
    padding: 8px;
    margin-right: 30px;
    float: right;
}

#leftbutton , #rightbutton {
    display: inline;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .slprev, .slnext,.text {font-size: 11px}
  }


